# This is a basic workflow to help you get started with Actions

name: Firebase function deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
    paths: 
      - App/functions/**
      
  pull_request:
    branches: [ master ]
  
    paths:
      - App/functions/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    # And of course we need to goto our functions folder to deploy
    - name: Install npm packages
      run: |
        cd App
        cd functions
        npm install
        
    # Deploying the functions to firebase
#     - name:  Deploy to Firebase
#       uses: w9jds/firebase-action@master
#       with:
#           args: deploy --only functions
#       env:
#           FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
#           PROJECT_PATH: "App"
